@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
   
body{
    background-color: black;
nav{
    display: flex;
    justify-content: space-around;
}
nav ol{
    display: flex;
}
ol li:hover{
  cursor: pointer;

}
header nav ol {
    list-style: none;

}
.shop{
    margin-top: 10px;
}

ol li{
    padding-left: 65px;
    color: white;
    font-family: "Dosis", sans serif;
    font-weight: 900;
}
.logo img{
    width: 4rem;
}

 .image img{
    width: 425px;
}
.container{
    display: flex;
    justify-content: space-around;
    padding-top: 80px;
   
}
 .offer {
    display: flex;
    justify-content: center;
    height: 46px;
    
}

.day , .date{
    display: flex;
    flex-direction: column;
    padding: 0px;
    border: 2px solid rgb(255, 255, 255);
    width: 130px;
    justify-content: center;
    align-items: center;
}
.text{
    display: flex;
    flex-direction: column;
    width: 387px;
}
.text h1{
    padding-left: 44px;
    margin: 0;
    font-family:"Dosis", sans-serif;
    font-size: 54px;
    color: white;
  
}
.text h4{
    padding-left: 85px;
    margin: 0;
    font-size: 50px;
    color: rgb(223, 84, 107);
    font-family: "Roboto Condensed", sans-serif;
}

.Time{
    margin: 0; 
    padding-top: 58px; 
    padding-left: 114px;
    padding-bottom: 8px;
    color: white;
}

.day p{
    margin: 0;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif 
}
.date p{
    margin: 0;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

button{
    padding: 5px;
    border: none;
    background-color: rgb(223, 84, 107);
    color: white;
    border-radius: 2px;
}
.frame{
    overflow: hidden;
    width: 425px;
}

.slideImages{
    display: flex;
    width:425px;
    margin: 0 0 0 -10px;
    position:relative;
    animation-name: slide_animation;
    animation-duration: 43s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-play-state: running;
}
@keyframes slide_animation {
    0%{right:0px}
    10%{right:0px}
    20%{right: 425px}
    30%{right:425px}
    40%{right:850px}
    50%{right:850px}
    60%{right:425px}
    70%{right:425px}
    80%{right:0px}
    90%{right:0px}
    100%{right:0px}
}
.image{
    width: 425px;
    position: relative;

}